
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.navbar {
  background-color: #49e295;
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: black;
}

.navbar .mytrash-logo {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  margin-left: 20px;
}

.navbar .mytrash-logo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #377520b7;
  transition: width 0.4s ease;
}

.navbar .mytrash-logo:hover::after {
  width: 100%;
}

.navbar .mytrash-logo:hover {
  color: white;
  transition: color 0.2s ease;
}

.navbar .nav-links ul {
  display: flex;
  margin-right: 20px;
  margin-top: 15px;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li .nav-link{
  color: white;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Arial', sans-serif;
}
.navbar .nav-links ul li .nav-link::before{
  margin-left: auto;
}
.navbar .nav-links ul li .nav-link::after, .navbar .nav-links ul li .nav-link::before{
  content: '';
  width: 0%;
  height: 2px;
  background: #377520b7;
  display: block;
  transition: 0.5s;
}
.navbar .nav-links ul li .nav-link:hover::after, .navbar .nav-links ul li .nav-link:hover::before{
 width: 100%; 

}
.navbar .burger-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 35px;
  width: 35px;
}
.navbar .new-buger {
  display: none;
  position: absolute;
  top: 30px;
  right: 35px;
  width: 35px;
}
@media screen and (max-width: 900px) {
  .navbar {
    padding: 20px;
  }

  .navbar .mytrash-logo {
    position: relative;
    top: 1px;
    left: 15px;
  }

  .navbar .burger-menu {
    display: block;
    top: 20px;
    right: 30px;
  }

  .nav-links {
    top: 0;
    right: 0;
    position: absolute;
    background-color: #49e295;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100%;
    transition: all 0.5s ease-in-out;

  }
  .nav-links.mobile-menu {
    margin-right: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

/*fin navbar*/
