/* FONT DIGIT - FOR THE TIME */
/*@font-face{
    font-family:'digital-clock-font';
    src: url('put_the_location_to_your_font.ttf or .otf');
}*/


.container {
    background-color: #353743;
}

.timeZone {
    font-family: 'digital-clock-font', sans-serif;
    color: white;
}

.textDark {
    color: #72747E;
    font-weight: 600;
}

.iconBootstrap {
    color: skyblue;
    width: 16px;
}

.line_separation {
    height: 2px;
    width: 100%;
    background-color: #72747ec5;
}

.data_text {
    font-size: 15px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: loading 2s infinite;
}

.subCircle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.greenSubBackground {
    background-color: green;
}
.greenBackground {
    background-color: rgba(0, 128, 0, 0.339);
}

.redSubBackground {
    background-color: rgb(201, 0, 0);
}
.redBackground {
    background-color: rgba(151, 2, 2, 0.804);
}

.yellowSubBackground {
    background-color: yellow;
}
.yellowBackground {
    background-color: rgba(255, 255, 0, 0.562);
}


/*LEGEND*/

.legendTrash {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}



@keyframes loading {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}