.sideBarContainer {
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.182);
    display: flex;
    overflow: hidden;
}

.containerModal {
    background-color: #353743;
}

.status {
    width: auto;
    font-size: 18px;
    text-align: center;
    padding: 6px;
    border-radius: 510px;
}

.buttonStatus {
    padding: 8px;
    text-align: center;
    border-radius: 8px;
}

.disabled {
    opacity: 0.8;
}