.sideBarContainer {
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.182);
    display: flex;
}

.containerModal {
    background-color: #353743;
}

.status {
    width: 100px;
    font-size: 18px;
    text-align: center;
    padding: 6px;
    border-radius: 510px;
}